<div class="container mt-4">
  <h2>Dodaj nową sieć</h2>
  <form [formGroup]="networkForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="ip" class="form-label">Adres IP</label>
      <input type="text" id="ip" class="form-control" formControlName="ip" [ngClass]="{ 'is-invalid': networkForm.get('ip')?.invalid && networkForm.get('ip')?.touched }" />
      <div *ngIf="networkForm.get('ip')?.invalid && networkForm.get('ip')?.touched" class="invalid-feedback">
        Adres IP jest wymagany.
      </div>
    </div>

    <div class="mb-3">
      <label for="name" class="form-label">Nazwa sieci</label>
      <input
        type="text"
        id="name"
        class="form-control"
        formControlName="name"
        [ngClass]="{ 'is-invalid': networkForm.get('name')?.invalid && networkForm.get('name')?.touched }"       
      />
      <div *ngIf="networkForm.get('name')?.invalid && networkForm.get('name')?.touched" class="invalid-feedback">
        Nazwa sieci jest wymagana.
      </div>
    </div>

    <div class="mb-3">
      <label for="gateway" class="form-label">Gateway</label>
      <input
        type="text"
        id="gateway"
        class="form-control"
        formControlName="gateway"
        [ngClass]="{ 'is-invalid': networkForm.get('gateway')?.invalid && networkForm.get('gateway')?.touched }"
      />
      <div *ngIf="networkForm.get('gateway')?.invalid && networkForm.get('gateway')?.touched" class="invalid-feedback">
        Gateway sieci jest wymagany.
      </div>
    </div>

    <div class="mb-3">
      <label for="dns" class="form-label">DNS</label>
      <input type="text" id="dns" class="form-control" formControlName="dns" [ngClass]="{ 'is-invalid': networkForm.get('dns')?.invalid && networkForm.get('dns')?.touched }"/>
      <div *ngIf="networkForm.get('dns')?.invalid && networkForm.get('dns')?.touched" class="invalid-feedback">
        Serwer DNS jest wymagany.
      </div>
    </div>

    <div class="mb-3">
      <label for="mask" class="form-label">Maska</label>
      <input
        type="text"
        id="mask"
        class="form-control"
        formControlName="mask"
        [ngClass]="{ 'is-invalid': networkForm.get('mask')?.invalid && networkForm.get('mask')?.touched }"
      />
      <div *ngIf="networkForm.get('mask')?.invalid && networkForm.get('mask')?.touched" class="invalid-feedback">
        Maska sieci jest wymagana.
      </div>
    </div>

    <div class="mb-3">
      <label for="admin" class="form-label">Administrator</label>
      <input
        type="text"
        id="admin"
        class="form-control"
        formControlName="admin"
        [ngClass]="{ 'is-invalid': networkForm.get('admin')?.invalid && networkForm.get('admin')?.touched }"
      />
      <div *ngIf="networkForm.get('admin')?.invalid && networkForm.get('admin')?.touched" class="invalid-feedback">
        Admin sieci jest wymagany.
      </div>
    </div>

    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="networkForm.invalid"
    >
      Zapisz sieć
    </button>
  </form>
</div>
