<div class="container mt-3" *ngIf="network as net; else noNetwork">
  <h3>Szczegóły sieci: {{ net.name }} (ID: {{ net.id }})</h3>

  <p><b>IP:</b> {{ net.ip }}</p>
  <p><b>Mask:</b> {{ net.mask }}</p>
  <p><b>Gateway:</b> {{ net.gateway }}</p>
  <p><b>DNS:</b> {{ net.dns }}</p>
  <p><b>Administrator:</b> {{ net.admin }}</p>

  <hr />

  <h4>Urządzenia w tej sieci:</h4>
  <div *ngIf="devices.length > 0; else noDevices">
    <ul>
      <li *ngFor="let dev of devices">
        {{ dev.type }}: {{ dev.name }} (IP: {{ dev.ip }})
      </li>
    </ul>
  </div>
  <ng-template #noDevices>
    <p>Brak urządzeń w tej sieci.</p>
  </ng-template>

  <hr />

  <h4>Użytkownicy w tej sieci:</h4>
  <div *ngIf="users.length > 0; else noUsers">
    <ul>
      <li *ngFor="let user of users">
        {{ user.firstName }} {{ user.lastName }} ({{ user.email }})
      </li>
    </ul>
  </div>
  <ng-template #noUsers>
    <p>Brak użytkowników w tej sieci.</p>
  </ng-template>
  <button class="btn btn-primary mt-3" [routerLink]="['/']">Powrót</button>
</div>

<ng-template #noNetwork>
  <div class="container mt-3">
    <p>Nie znaleziono sieci o ID: {{ networkId }}</p>
  </div>
</ng-template>
